.search-group {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.search {
    width: 300%;
    padding: 10px 0 10px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.search:placeholder-shown {
    opacity: 60%;
}

.search-icon {
    width: 40px;
    margin: 0 10px;
    opacity: 50%;
    border: none;
}

.search-icon:hover {
    opacity: 100%;
}

.part-left {
    height: 100%;
    width: 25%;
    top: 35%;
}

.part-right {
    height: 100%;
    width: 25%;
    margin-left: auto;
    top: 35%;
}


footer {
    padding: 20px;
    margin-top: 20%;
    color: white;
    background-color: black;
    text-align: center;
}

.social-link img {
    width: 40px;
    padding: 5px;
    margin:0 20px;
    background-color: white;
    border-radius: 50%;
}

/* Responsive */
@media screen and(max-width: 800px) {
    .search {
        width: 100%;
    }
}